@media (max-width: 560px) {
  .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url(https://i.postimg.cc/4xJhqT01/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: -10%;
}
}


hr{
  border-top: none!important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}